<div style="display: flex; justify-content: space-between;">
  <div style="width: 48%;">
    <form action="#" phx-submit="add" style="display: flex;">
      <%= number_input :weight, :weight, placeholder: "Insert your current weight" %>
      <%= submit "Add", phx_disable_with: "Adding..." %>
    </form>
    <%= for weight <- @weights do %>
      <div><%= weight.weight %></div>
    <% end %>
  </div>
  <div style="width: 48%;">
    <p>A graph will be here</p>
  </div>
</div>
